.container{
    margin-bottom: 100px;
}
.container-fluid a img{
    width: 140px;
}
#carouselExampleIndicators{
    padding: 5px 0px;
    
}
.buybtn{
    background-color: black;
    color: #fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px ;
    cursor: pointer;
}
.card{
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 0px 40px;
}
.card-body{
    font-family: sans-serif;
}
.card-text{
   color: grey; 
   font-size: 12px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smart a{
    text-decoration: none;
    color: orange;
}
.smart{
    padding: 60px 0px;
}
.categories h3{
font-size: 3rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.carousel-indicators div{
height: 7px;
width: 10px;
border-radius: 6px;
background-color: rgba(128, 128, 128, 0.3);
margin: 10px 3px;
}
.carousel-indicators .active {
    height: 7px;
    width: 30px;
    border-radius: 11px;
    background-image: linear-gradient(to right, #ff8206, #ffd019);}
  .carousel-item {
    padding: 10px 40px 20px;
  }
  .underline-block {
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff8206, #ffff00);
  }
  
  
  
